.blockmain{
    background-color: rgba(21, 22, 25, 0.603);
    position: absolute;
    top: 50%;
    left: 37%;
    translate: -50% -50%;
    width: 30rem;
    height: 30rem;
    border: 5px solid rgb(35, 190, 82);
    border-radius: 54px;
}
h1{
    text-align: center;
    padding: 34px;
}
input{
    width: 369px;
    height: 3em;
    border: 4px solid green;
    border-radius: 34px;
    font-size: 17px;
    transition: .5s ease;
}

input:focus , input:hover{
    outline: none;
    border-color: rgb(43, 43, 255);
    background-color: #fff;
    box-shadow: 0 0 0 5px rgb(129 140 248 / 30%);
}
.altura{
    position: absolute;
    top: 30%;
    left: 3em;
}
.peso{
    position: absolute;
    top: 45%;
    left: 3em;
}
input::placeholder{
    padding: 20px;
    font-size: 17px;
}
button{
    position: absolute;
    top: 65%;
    left: 34px;
    width: 8em;
    height: 3em;
    color: white;
    border-radius: 56px;
    background-color: blue ;
}
button:hover{
    cursor: pointer;
    width: 8.3em;
    height:3.3em ;
}
.resultado{
    background-color:rgba(21, 22, 25, 0.603) ;
    border: 3px solid rgb(35, 190, 82);
    position: absolute;
    width: 23rem;
    height: 25rem;
    text-align: center;
    top: 17%;
    left: 60%;
    font-size: 23px;
    color: white;
    border-radius:45px ;
}
.resultado h3{
    padding-top: 3em;
}
.clear{
    position: absolute;
    top: 75%;
    left: 34px;
    background-color: red;
}